{% extends "base.html" %}

{% load static %}

{% block content %}

    <h1>{{ movie.title }}</h1>
    <img src="{{ movie.photo.url }}" class="img-fluid" alt="{{ movie.title }}">

    <div class="col">
        <div class="row">
            <i class="bi bi-star-fill"></i>
            {# <img src="{% static "images/yellow_star.png" %}" alt="star">#}
            <span>Rate this movie: <a href="{% url "movies:rate" movie.pk %}">here</a></span>

            <p class="text">Year: {{ movie.year }} </p>
            <p class="text-dark"> Director: <a href="{% url "crew:director" movie.director.pk %}" class="primary"> {{ movie.director.first_name }} {{ movie.director.last_name }}</a></p>
            <p class="text-dark"> Actors:</p>
            {% for actor in movie.actors.all %}
                <p class="text-dark"><a href=""> {{ actor.first_name }} {{ actor.last_name }} </a></p> {## TODO #}
            {% endfor %}
            <p class="text-dark"> Country: {{ movie.country.name }}</p>
            <p class="text-dark"> Genre: {{genres|join:", " }}</p> {## TODO #}

        </div>

        <p class="text"> Description: {{ movie.description }} </p>
    </div>

{% endblock %}
