{% extends "base.html" %}

{% block content %}
    <h1>📽 Movies</h1>
    <div class="row">
        {% for movie in movies %}
            <div class="card" style="width: 23rem; margin: 2px">
                <img src="{{ movie.photo.url }}" class="card-img-top" alt="{{ movie.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ movie.title }} ({{ movie.year }}) </h5>
                    <p class="card-text">{{ movie.description|truncatechars:150 }}</p>
                    <a href="{% url "movies:detail" movie.pk %}" class="btn btn-primary"> More...</a>
                </div>
            </div>
        {% empty %}
            <h2>No movies yet.</h2>
        {% endfor %}
        <a href="{% url "movies:form" %}" class="btn btn-primary"> Fill the form...</a>
    </div>


{% endblock %}
